@charset "UTF-8";


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


.nav{
	background: linear-gradient(90deg, rgba(40,1,61,1) 0%, rgba(132,9,199,1) 95%);
	padding:20px 30px 15px 30px;
	height:40px;
	width:100%;
}

.back{
	padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-section {
    text-align: center;
    padding:20px;
    background: linear-gradient(90deg, rgba(40,1,61,1) 0%, rgba(132,9,199,1) 95%);
    color: white;
}

.hero-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 18px;
}

.book-issue-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.book-column {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: all ease-in 0.28s;
}

.book-column:hover{
	transform:scale(1.05);
}

.book-column h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.book-column p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.book-column .issue-book-btn {
    padding: 10px 20px;
    background-color: rgba(255,117,4,1);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

